<div class="flex flex-col">
  <!-- Navigation -->
  <nav class="bg-gray-800">
    <div class="w-full px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex space-x-4">
          <img class="block h-8 w-auto" src="/images/logo.svg" alt="Inngest">
          <div class="text-gray-300 font-bold text-xl">Inngest SDK</div>
        </div>

        <%= if @rendered do %>
          <div class="flex space-x-2 text-white bg-gray-600 py-1 px-3 rounded-md">
            <span class="flex space-x-2">
              <%= if @connected do %>
                <.status class="fill-green-500 w-6 h-6" />
                <span class="block">Connected to</span>
                <% else %>
                <.status class="fill-red-500 w-6 h-6 text-center" />
                <span class="block">Not connected to</span>
                <% end %>
            </span>

            <span class="text-violet-300 font-semibold">Inngest Dev Server</span>
            <span>on</span>
            <span class="text-violet-300 font-semibold">127.0.0.1:8288</span>
          </div>
        <% end %>
      </div>
    </div>
  </nav>

  <!-- Body -->
  <div class="w-full">
    <div class="bg-slate-100 py-16">
      <div class="mx-auto max-w-7xl">
        <div class="flex flex-row space-x-2">
          <.icon name="hero-check-circle-solid" class="block text-green-500 h-10 w-10" />

          <div class="flex flex-col space-y-1">
            <span class="text-3xl text-slate-700">Your functions are setup correctly</span>

            <div class="flex space-x-2">
              <div class="bg-violet-500 py-1 px-3 rounded-md text-white">
                <%= @sdk_version %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="mx-auto max-w-7xl py-8">
      <div class="text-slate-700">
        Functions found: <%= Enum.count(@functions) %>
      </div>

      <div>
        <.table id="funcs" rows={@functions}>
          <:col :let={func} label="Name"><%= func.name %></:col>
          <:col :let={func} label="ID"><%= func.id %></:col>
          <:col :let={func} label="Event / Cron">
            <%= for trigger <- func.triggers do %>
        <span class="bg-slate-100 py-1 px-2 rounded-md"><%= trigger.event %></span>
          <% end %>
          </:col>
          </.table>
      </div>
    </div>
</div>

<!-- Footer? -->
</div>
